grant {
	permission javax.security.auth.AuthPermission "createLoginContext.Log_configuration";
	permission javax.security.auth.AuthPermission "modifyPrincipals";
	permission javax.security.auth.AuthPermission "doAsPrivileged";
	permission javax.security.auth.AuthPermission "doAs";
};

grant principal com.other.jaas.demo.util.RolePrincipal "admin" {
	permission com.other.jaas.demo.util.AccountPermission "add", "allow";
};

grant principal com.other.jaas.demo.util.RolePrincipal "user" {
	permission com.other.jaas.demo.util.AccountPermission "add", "prohibited";
};